### 표본추출/샘플링
- 전체 데이터에서 일부 데이터를 추출
- pandas.DataFrame.sample()
- 복원 추출 : 추출된 데이터를 다시 추가해서 추출
- 비복원 추출 : 추출된 데이터를 제거 후 남은 데이터에서 추출하는 방식
-

In [1]:
import numpy as np
import random
import pandas as pd

In [26]:
df = pd.DataFrame(
    {
        'A': range(10), 
        'B': range(10, 20), 
        'C': range(100, 110), 
        'D': range(110, 120), 
        'E': range(120, 130), 
     }
)
df

   A   B    C    D    E
0  0  10  100  110  120
1  1  11  101  111  121
2  2  12  102  112  122
3  3  13  103  113  123
4  4  14  104  114  124
5  5  15  105  115  125
6  6  16  106  116  126
7  7  17  107  117  127
8  8  18  108  118  128
9  9  19  109  119  129

In [48]:
# 1개의 샘플/표본 데이터 추출 => [기본] 비복원 - 전체 데이터 수 초과 불가

df.sample(10, replace=True, axis=1)

     C   B    C  A    D   B    E    E  A  A
0  100  10  100  0  110  10  120  120  0  0
1  101  11  101  1  111  11  121  121  1  1
2  102  12  102  2  112  12  122  122  2  2
3  103  13  103  3  113  13  123  123  3  3
4  104  14  104  4  114  14  124  124  4  4
5  105  15  105  5  115  15  125  125  5  5
6  106  16  106  6  116  16  126  126  6  6
7  107  17  107  7  117  17  127  127  7  7
8  108  18  108  8  118  18  128  128  8  8
9  109  19  109  9  119  19  129  129  9  9